{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<h2>Patricia Barragan Salon</h2>
<h2>Eliminar Cliente</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.comment) }}
        {{ render_field(form.address) }}
        {{ render_field(form.telephone) }}
        {{ render_field(form.email) }}
    </dl>
    <p><input type=submit value=Delete>
</form>
{% endblock %}
