{% extends "layout.html" %}
{% block title %}Editar Cliente{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<h2>Editar Cliente</h2>

{% from "_formhelpers.html" import render_field %}
<form method=post>
    <dl>
        {{ render_field(form.firstname) }}
        {{ render_field(form.lastname) }}
        {{ render_field(form.comment) }}
        {{ render_field(form.address) }}
        {{ render_field(form.telephone) }}
        {{ render_field(form.email) }}
    </dl>
    <p>
      <script>
      function goBack() {
        window.history.back()
      }
      </script>

      <button type="button" onclick="goBack()">Regresar</button>

      <input type=submit value=Submit>
</form>
{% endblock %}
