{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<p><p>
<h2>Listado de Clientes</h2>


{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method=post>
  <dl>
    <p>
    {{ form.search.label }}<br>{{ form.search }}
    <input type=submit value=Buscar>
    <a href="{{ url_for('new_customer') }}"> Nuevo Cliente </a>
  </dl>

</form>

{% autoescape false %}
{{ table|safe }}

{% endautoescape %}

{% endblock %}
